#this is not used here, i was thinking...

#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password=123456
rootpw --iscrypted $1$XKllVDIv$1nl9lT5rxQkRol5E5gBfb.
# System language
lang en_US
# Firewall configuration
firewall --enabled --ssh
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# SELinux configuration
selinux --enforcing

# Network information static
network  --bootproto=static --device=ens32 --gateway=192.168.1.1 --ip=192.168.1.150 --nameserver=192.168.1.1 --netmask=255.255.255.0
# Reboot after installation
reboot
# System timezone
timezone Africa/Abidjan
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information 60GB disk
clearpart --all --initlabel
# Disk partitioning information
part /boot --asprimary --fstype="xfs" --size=512
part / --asprimary --fstype="xfs" --size=60000
part swap --asprimary --fstype="swap" --size=2048

